<nav style="background:#222; padding:12px;">
  <a href="{{ url_for('user_dashboard') }}" style="color:white; margin-right:20px;">Dashboard</a>
  <a href="{{ url_for('user_profile') }}" style="color:white; margin-right:20px;">My Profile</a>
  <a href="{{ url_for('user_treks') }}" style="color:white; margin-right:20px;">Book Treks</a>
  <a href="{{ url_for('user_my_bookings') }}" style="color:white; margin-right:20px;">My Bookings</a>
  <a href="{{ url_for('user_trek_history') }}" style="color:white; margin-right:20px;">View history</a>
</nav>

<br>